<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="bookingtable.My.MySettings.Appointment_tabelConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;F:\PROJECT\bookingtable\Appointment tabel.mdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="bookingtable.My.MySettings.Appointment_tabelConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;F:\all project\project4\PROJECT\bookingtable\Appointment tabel.mdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="bookingtable.My.MySettings.Appointment_tabelConnectionString2"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;F:\all project\project4\PROJECT\bookingtable\Appointment tabel.mdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="bookingtable.My.MySettings.Appointment_tabelConnectionString3"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;F:\project7\PROJECT\bookingtable\Appointment tabel.mdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>